@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --min-normal-text: .75rem;
  --max-normal-text: 1rem;
  --font-header-max: 4.5rem;
  --font-header-min: 2.25rem;
  --max-heading1: 1.25rem;
  --min-heading1: 1rem;
  --max-heading2: 2rem;
  --min-heading2: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --foreground-rgb-shadow: 255, 255, 255, 0.5;
  }

  .cast-card {
    box-shadow: 5px 10px 10px rgb(var(--foreground-rgb-shadow))
  }

  .poster-details-box {
    box-shadow: 10px 10px 10px rgb(var(--foreground-rgb-shadow))
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.box {
  background-color: rgb(var(--background-end-rgb));
  border-color: rgb(var(--foreground-rgb));
  width: clamp(90vw, 50vw, 850px)
}

.bio-box {
  width: clamp(50vw, 30vw, 650px)
}

.cast-card {
  color: black;
}

.card-role {
  height: clamp(18dvh, 5dvh, 148px);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.header-clamp {
  font-size: clamp(var(--font-header-min), 10vw, var(--font-header-max));
}

.title {
  font-size: clamp(var(--min-heading1), 2vw, var(--max-heading1));
}

.heading2 {
  font-size: clamp(var(--min-heading2), 2vw, var(--max-heading2));
}

.input-title-clamp {
  width: clamp(50%, 50vw, 100%)
}

.input-year-clamp {
  width: clamp(85px, 13vw, 50%);
}

.modal-video {
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgb(0 0 0 / 75%);
  z-index: 1;
  padding: 50% 0;
}

.modal-video-movie-wrap {
  place-self: center;
}

.poster-details-box {
  width: clamp(25dvh, 100%, 50dvh);
}

.normal-text {
  font-size: clamp(var(--min-normal-text), 1.5vw, var(--max-normal-text));
}

/* Prevent mobile browsers from zooming inputs by ensuring font-size >= 16px */
@media (max-width: 768px) {
  input,
  textarea,
  select,
  button {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
  }
}