@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --min-normal-text: .75rem;
  --max-normal-text: 1rem;
  --font-header-max: 4.5rem;
  --font-header-min: 2.25rem;
  --max-heading1: 3rem;
  --min-heading1: 1.5rem;
  --max-heading2: 2rem;
  --min-heading2: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.header-clamp {
  font-size: clamp(var(--font-header-min), 10vw, var(--font-header-max));
}

.heading1 {
  font-size: clamp(var(--min-heading1), 2vw, var(--max-heading1));
}

.heading2 {
  font-size: clamp(var(--min-heading2), 2vw, var(--max-heading2));
}

.input-title-clamp {
  width: clamp(50%, 40vw, 100%)
}

.input-year-clamp {
  width: clamp(85px, 13vw, 50%);
}

.normal-text {
  font-size: clamp(var(--min-normal-text), 1.5vw, var(--max-normal-text));
}